<!DOCTYPE html>
<html>
  <head>
    <title>HabitApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <a class="toppage" href="/">HABIT</a>
      <a class="create" href="/schedules/new">作成する</a>
    </header>
    <%= yield %>
  </body>
</html>
